<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cbapay.demo2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".circularProgressButton.CircularProgressButtonActivity" />
        <activity android:name=".circularProgressButton.Sample1Activity" />
        <activity android:name=".circularProgressButton.Sample2Activity" />
        <activity android:name=".circularProgressButton.Sample3Activity" />
        <activity android:name=".circularProgressButton.Sample4Activity" />
        <activity android:name=".circularProgressButton.Sample5Activity" />
        <activity android:name=".GoogleProgressBar.GoogleProgressBarActivity" />
        <activity android:name=".EventBus.EventBusActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ElemeShoppingView.ElemeShoppingViewActivity" />
        <activity android:name=".CustomViewActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b154bae0f55a373c002f6f" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="abc" />

        <activity android:name=".HideOrShowToolbar.HideOrShowToolbarActivity" />
        <activity android:name=".HideOrShowToolbar.HideOrShowToolbarActivity2" />
        <activity android:name=".WatchView.WatchViewActivity" />
        <activity android:name=".TemperatureView.TemperatureViewActivity" />
        <activity android:name=".bezier.BezierActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name=".TransitionHelper.BeginActivity" />
        <activity android:name=".TransitionHelper.EndActivity" />
        <activity android:name=".StepView.StepViewActivity" />
        <activity android:name=".Graph.GraphActivity"></activity>
    </application>

</manifest>